<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Iwesun Runtime"
    Manufacturer="DdnsSnap"
    Version="$(var.ProductVersion)"
    UpgradeCode="238B6B78-59A5-43D5-AABC-C2D4CEBF5A31"
    Language="1033"
    InstallerVersion="500"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Iwesun Runtime is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="Iwesun Runtime" Level="1">
      <ComponentGroupRef Id="RuntimeProgramFilesPayload" />
      <ComponentGroupRef Id="RuntimeProgramDataPayload" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Iwesun Runtime">
        <Directory Id="BINROOT" Name="bin" />
        <Directory Id="LIBROOT" Name="lib" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="IWESUN_DATA_VENDOR" Name="Iwesun">
        <Directory Id="IWESUN_DATA_ROOT" Name="Runtime">
          <Directory Id="DATACONFIG" Name="config" />
          <Directory Id="DATADOCS" Name="docs" />
          <Directory Id="DATASAMPLES" Name="samples" />
          <Directory Id="DATASCRIPTS" Name="scripts" />
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="RuntimeProgramFilesPayload" Directory="INSTALLFOLDER">
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\bin\**\*.*" />
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\lib\**\*.*" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="RuntimeProgramDataPayload" Directory="IWESUN_DATA_ROOT">
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\config\**\*.*" />
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\docs\**\*.*" />
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\samples\**\*.*" />
      <Files Include="..\..\artifacts\release\Iwesun.Runtime\scripts\**\*.*" />
    </ComponentGroup>
  </Fragment>
</Wix>
